<div class="container text-center">
  <h1>About Page</h1>
  <p>We are MaidServices. Our comapny focuses on providing an easy to use 
  way of booking a cleaning service to the South Jersey area.</p>
</div>